{% extends "base.html" %}

{% block title %}
    Your shopping cart
{% endblock %}

{% block content %}
    <h1>Your shopping cart</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Remove</th>
                <th>Unit price</th>                
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        {% for carrito in result['ms5'] %}
                <td>{{carrito}}</td>
                <td>{{carrito}}</td>
                <td><a href="/5">Remove</a></td>
            </tr>
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">${{ result['ms5'].get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="/4" class="button light">Continue shopping</a>
        <a href="/6" class="button">Checkout</a>
    </p>
{% endblock %}
