{% extends "base.html" %}

{% block title %}
    Cancel
{% endblock %}

{% block content %}
    <h1>Cancel Order</h1>
    
	<table class="table">
        <thead class="table-dark">
            <th>ID</th>
            <th>Product</th>
			<th>Date</th>
            <th>Total</th>
			<th>Cancel</th>
        </thead>
        <tbody>

            {% for o in result['ms6'] %}
            <tr>
                <td>{{o.order.id}}</td>
                <td>{{o.product.name}}</td>
				<td>{{o.order.created}}</td>
                <td>{{o.price}}</td>
				{% if o.diff.days == 0 %}
				<td><a href="/6" class="btn btn-danger">Cancelar</a></td>
				{% else %}
				<td><a class="btn btn-danger disabled">No se puede cancelar D:</a></td>
				{% endif %}
            </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}